.stroganomics {
    padding: 2rem;
    background-color: #eef2f3;
  }
  
  h2 {
    color: #333;
    font-size: 2rem;
  }
  
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.5rem;
    }
  
    .stroganomics {
      padding: 1rem;
    }
  }
  